Telegram Bot.json
{
  "name": "Telegram Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -816,
        -64
      ],
      "id": "01a2ab71-e7f1-4431-9067-76880c10ab4f",
      "name": "Telegram Trigger",
      "webhookId": "296418b2-1f85-45ee-a737-d17c41cb61b5",
      "credentials": {
        "telegramApi": {
          "id": "C8VXOGPwi635q2Wk",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        -16,
        144
      ],
      "id": "8db60e46-a68d-46c8-a20a-04d7a02bc673",
      "name": "Memory",
      "credentials": {
        "redis": {
          "id": "9hT4p9juyLJrEAke",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output.message }}",
        "replyMarkup": "forceReply",
        "forceReply": {},
        "additionalFields": {
          "reply_to_message_id": "={{ $('Telegram Trigger').item.json.message.message_id }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        752,
        64
      ],
      "id": "fdd36d53-1abf-409f-9c40-5d31db88f639",
      "name": "Send a text message",
      "webhookId": "97cd1b11-e343-4b8b-ba41-b34fe67832ad",
      "retryOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "C8VXOGPwi635q2Wk",
          "name": "Telegram Bot"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "322a59e3-f856-4a15-9c6c-ac9f82e4752e",
              "leftValue": "={{ $json.output.need_approval }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "31aaaad9-ca30-42a3-bc46-a1c5e7fc654a",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.chat.first_name }}",
              "rightValue": "Ranit",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "866f5354-12ae-47ef-ab4f-80283c081d74",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.chat.last_name }}",
              "rightValue": "Sarkhel",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        352,
        -96
      ],
      "id": "b53df7d4-cdb1-4864-95c3-09e46bc35d35",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eabd1294-e238-4bc6-af41-4b1d4e1102c6",
              "name": "prompt",
              "value": "={{ $json.data.approved }}",
              "type": "string"
            },
            {
              "id": "719a4acd-aa2d-4d8d-b5ac-487612db63c2",
              "name": "sessionId",
              "value": "={{ $('Generate sessionID').item.json.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        -304
      ],
      "id": "455880be-e76e-4867-8285-e090ab068527",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5249a7f0-79d3-44c9-ab66-3a104f555b1a",
              "name": "prompt",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "b0715812-4527-40a9-aa7e-2786a4b73567",
              "name": "sessionId",
              "value": "session_130833015",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -272,
        -80
      ],
      "id": "44728aa8-2f47-4ad0-9b75-11f88bc737d0",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "message": "={{ $json.output.message }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        -144
      ],
      "id": "09777fc7-75e4-4886-8157-a3d7110f0fdc",
      "name": "Send approval message",
      "webhookId": "4d110713-6335-4b7b-8e25-ea9fc6d6da51",
      "retryOnFail": true,
      "waitBetweenTries": 100,
      "credentials": {
        "telegramApi": {
          "id": "C8VXOGPwi635q2Wk",
          "name": "Telegram Bot"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -144,
        112
      ],
      "id": "951f98b1-96ea-4c56-853b-f6be0c390089",
      "name": "Fallback Brain",
      "credentials": {
        "googlePalmApi": {
          "id": "Qg7awO5PbhgokA2u",
          "name": "fallback model"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e6032b74-bea6-43ea-a849-3f5dff8b881e",
              "leftValue": "={{ $json.message.chat.type }}",
              "rightValue": "group",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "f51f65e8-eb7e-4a7c-b2fb-dc078dfb5983",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "@TorDadurBichi_bot",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -576,
        48
      ],
      "id": "16ab26f7-7fe7-478a-a86f-a21bcf83710d",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e6032b74-bea6-43ea-a849-3f5dff8b881e",
              "leftValue": "={{ $json.message.from.id }}",
              "rightValue": 1931776955,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "373a9d4c-bd69-4b3d-9903-2acb26c6c158",
              "leftValue": "={{ $json.message.chat.type }}",
              "rightValue": "private",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -576,
        -144
      ],
      "id": "f579d94f-a2da-4d11-8b0c-fdb71581a700",
      "name": "If2"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  // update .output.message if present\n  if (item.json && item.json.output && item.json.output.message) {\n    item.json.output.message = item.json.output.message.replace(/[`*_]/g, '');\n  }\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        64
      ],
      "id": "7dd8003e-6720-4716-a9be-75cb8072c0f2",
      "name": "Format Output"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -288,
        128
      ],
      "id": "c6eb901d-da8f-4be7-acf0-91dfb745e46b",
      "name": "Primary Brain",
      "credentials": {
        "googlePalmApi": {
          "id": "yOdl5TYIitX10xic",
          "name": "Primary model"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n    \"need_approval\": true,\n    \"message\": \"string\"\n}\n",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        256,
        112
      ],
      "id": "28cd1304-1004-4c5a-afd3-278fb8f286e1",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "U6lMTIQLoyuFuPRv",
          "mode": "list",
          "cachedResultUrl": "/workflow/U6lMTIQLoyuFuPRv",
          "cachedResultName": "Oracle Server Access"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "command": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('command', ``, 'string') }}"
          },
          "matchingColumns": [
            "command"
          ],
          "schema": [
            {
              "id": "command",
              "displayName": "command",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        96,
        128
      ],
      "id": "554bebc1-091a-427e-99e0-a6397becd99c",
      "name": "Oracle Server"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        192,
        224
      ],
      "id": "be793e0d-218a-47d5-b0d5-740b105a056e",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        544,
        256
      ],
      "id": "c53853e1-7480-4692-a43a-a87d03f3798b",
      "name": "Fallback Brain1",
      "credentials": {
        "googlePalmApi": {
          "id": "Qg7awO5PbhgokA2u",
          "name": "fallback model"
        }
      }
    },
    {
      "parameters": {
        "endpointUrl": "http://mcp-github:8080/sse",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        -176,
        496
      ],
      "id": "75dde9fb-a063-43b3-9e5c-9585b4b60b61",
      "name": "GitHub MCP"
    },
    {
      "parameters": {
        "text": "Use the GitHub MCP client to complete the Task Given by the Manager",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -288,
        304
      ],
      "id": "3b4b82ea-5406-46c3-ac9f-893858d849d1",
      "name": "GitHub Agent"
    },
    {
      "parameters": {
        "text": "Use the Notion MCP Client to complete the task given by Manager",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -16,
        352
      ],
      "id": "a0dd58ff-7483-473d-85d1-9d7fe4c38a32",
      "name": "Notion Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "=You are Cipher. The central orchestration agent in an automated infrastructure and operations system.\n\nYour primary responsibility is to produce correct, verifiable results by using connected tools and delegated agents.\n\nYou do NOT rely on memory, assumptions, or prior context for system state.\n\nYou do NOT fabricate outputs.\n\nYou do NOT answer infrastructure, server, cloud, repository, or database questions without executing tools.\n\n--------------------------------------------------\n\nCORE OBJECTIVE\n\nFor every user request:\n\n1. Understand the intent.\n2. Identify the operational domain.\n3. Select the correct tool or worker agent.\n4. Execute the tool.\n5. Validate the result.\n6. Return only verified information.\n\n--------------------------------------------------\n\nDOMAIN ROUTING RULES\n\nApply these strictly:\n\n- AWS / cloud / EC2 / S3 / IAM / billing → AWS Agent\n- GitHub / repo / PR / commit / issue → GitHub Agent\n- Notion / docs / notes / database → Notion Agent\n- Server / Docker / Linux / volumes / disk / process → Execute your own server tool\n- Date / time → Date Tool\n- Unknown → Ask for clarification\n\nNever bypass these rules.\n\n--------------------------------------------------\n\nTOOL USAGE POLICY (MANDATORY)\n\nIf a request involves:\n\n- System state\n- Resource usage\n- File system\n- Containers\n- Cloud resources\n- Repositories\n- Databases\n\nYou MUST use tools.\n\nYou are forbidden from answering based on:\n- Memory\n- Previous responses\n- Estimates\n- Assumptions\n\nIf no tool is available, explicitly say so.\n\n--------------------------------------------------\n\nDELEGATION POLICY\n\nIf a task belongs to a worker agent:\n\n1. Forward the task.\n2. Wait for execution result.\n3. Review output.\n4. If incomplete, re-dispatch.\n5. Only then respond.\n\nDo not summarize guesses.\n\n--------------------------------------------------\n\nVERIFICATION LOOP\n\nBefore responding:\n\nAsk internally:\n\n“Did I execute a tool or agent for this?”\n\nIf NO → Do not answer. Execute tool first.\n\nIf YES → Cross-check output.\n\nIf output is ambiguous → Retry or ask for clarification.\n\n--------------------------------------------------\n\nMEMORY POLICY\n\nMemory is contextual only.\n\nNever use memory as a source of truth for:\n\n- Server state\n- Metrics\n- Resources\n- Configurations\n- Usage data\n\nLive tools override memory.\n\nAlways.\n\n--------------------------------------------------\n\nAPPROVAL POLICY\n\nBefore any operation that modifies system state:\n\n- Create / delete / install / update / modify\n\nYou must:\n\n1. Present exact command\n2. Explain purpose\n3. Explain risk\n4. Ask approval\n\nNo execution without approval.\n\n--------------------------------------------------\n\nOUTPUT FORMAT (STRICT)\n\nYou must always respond in valid JSON:\n\n{\n  \"need_approval\": false,\n  \"message\": \"response\"\n}\n\nRules:\n\n- No markdown\n- No explanations outside JSON\n- No additional fields\n- No nested objects\n- No commentary\n\n--------------------------------------------------\n\nERROR HANDLING\n\nIf a tool fails:\n\n1. Report the error\n2. Explain cause if known\n3. Propose corrective action\n\nDo not invent data.\n\n--------------------------------------------------\n\nPROHIBITIONS\n\nYou are forbidden from:\n\n- Roleplaying\n- Using fictional language\n- Pretending to have executed commands\n- Simulating outputs\n- Providing “example” data\n- Guessing system state\n- Answering without verification\n\nAccuracy > Politeness\nCorrectness > Style\nExecution > Conversation\n\n--------------------------------------------------\n\nDEFAULT BEHAVIOR\n\nWhen uncertain:\n\nAsk exactly one clarifying question.\n\nWhen blocked:\n\nExplain the blocking factor.\n\nWhen complete:\n\nReturn verified result.\n\n--------------------------------------------------\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -32,
        -96
      ],
      "id": "09d21dc4-f41a-45a8-b6a0-2048c41066d4",
      "name": "Manager Agent",
      "retryOnFail": false,
      "waitBetweenTries": 100
    },
    {
      "parameters": {
        "endpointUrl": "http://mcp-notion:8080/sse",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        224,
        496
      ],
      "id": "a1730e84-f1ca-48a5-aa03-6502f8885571",
      "name": "Notion MCP"
    },
    {
      "parameters": {
        "endpointUrl": "http://mcp-aws:8080/sse",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.1,
      "position": [
        -496,
        464
      ],
      "id": "cb755367-7c3a-4028-ae74-cad9dd8581d9",
      "name": "AWS MCP"
    },
    {
      "parameters": {
        "text": "Use the AWS MCP client to complete the task given by the manager. Use the AWS MCP tool attached with you.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -688,
        288
      ],
      "id": "5f52c5a3-a615-43ca-a245-9b4b706f52cd",
      "name": "AWS Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -720,
        448
      ],
      "id": "5fec8722-2f45-49e5-a61f-6202bd94c674",
      "name": "AWS Brain",
      "credentials": {
        "googlePalmApi": {
          "id": "Qg7awO5PbhgokA2u",
          "name": "fallback model"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -320,
        464
      ],
      "id": "bb486e8f-104e-45e6-9fd8-8a67eb566b31",
      "name": "Git Brain",
      "credentials": {
        "googlePalmApi": {
          "id": "yOdl5TYIitX10xic",
          "name": "Primary model"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        96,
        496
      ],
      "id": "45c2069b-f757-497d-be57-7153305fd580",
      "name": "Notion Brain",
      "credentials": {
        "googlePalmApi": {
          "id": "yOdl5TYIitX10xic",
          "name": "Primary model"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        400,
        272
      ],
      "id": "bdd7c1af-662e-4507-b5ac-73ee8166daa6",
      "name": "Parser Brain",
      "credentials": {
        "googlePalmApi": {
          "id": "yOdl5TYIitX10xic",
          "name": "Primary model"
        }
      }
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 329739733,
          "message": {
            "message_id": 1085,
            "from": {
              "id": 1931776955,
              "is_bot": false,
              "first_name": "Ranit",
              "last_name": "Sarkhel",
              "language_code": "en"
            },
            "chat": {
              "id": 1931776955,
              "first_name": "Ranit",
              "last_name": "Sarkhel",
              "type": "private"
            },
            "date": 1769530865,
            "text": "Check if there's any unused docker volumes out there"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "Manager Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Send approval message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Manager Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Manager Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send approval message": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback Brain": {
      "ai_languageModel": [
        [
          {
            "node": "Manager Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Primary Brain": {
      "ai_languageModel": [
        [
          {
            "node": "Manager Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Manager Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Oracle Server": {
      "ai_tool": [
        [
          {
            "node": "Manager Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "ai_tool": [
        [
          {
            "node": "Manager Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Fallback Brain1": {
      "ai_languageModel": [
        []
      ]
    },
    "GitHub MCP": {
      "ai_tool": [
        [
          {
            "node": "GitHub Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Agent": {
      "ai_tool": [
        [
          {
            "node": "Manager Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Notion Agent": {
      "ai_tool": [
        [
          {
            "node": "Manager Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Manager Agent": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Notion MCP": {
      "ai_tool": [
        [
          {
            "node": "Notion Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AWS MCP": {
      "ai_tool": [
        [
          {
            "node": "AWS Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AWS Agent": {
      "ai_tool": [
        [
          {
            "node": "Manager Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AWS Brain": {
      "ai_languageModel": [
        [
          {
            "node": "AWS Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Git Brain": {
      "ai_languageModel": [
        [
          {
            "node": "GitHub Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Notion Brain": {
      "ai_languageModel": [
        [
          {
            "node": "Notion Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parser Brain": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "28d84ba3-114e-4f23-a7de-beed7082fc5f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a2b5c8ab06fa554533c54e6d7404fd79a79c73e31a6cef240d61cec252a9945d"
  },
  "id": "gOCDflfZFfg5yyWo",
  "tags": []
}
