Telegram Bot.json
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -688,
        -320
      ],
      "id": "01a2ab71-e7f1-4431-9067-76880c10ab4f",
      "name": "Telegram Trigger",
      "webhookId": "296418b2-1f85-45ee-a737-d17c41cb61b5",
      "credentials": {
        "telegramApi": {
          "id": "C8VXOGPwi635q2Wk",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        -80,
        -112
      ],
      "id": "8db60e46-a68d-46c8-a20a-04d7a02bc673",
      "name": "Memory",
      "credentials": {
        "redis": {
          "id": "9hT4p9juyLJrEAke",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "replyMarkup": "forceReply",
        "forceReply": {},
        "additionalFields": {
          "reply_to_message_id": "={{ $('Telegram Trigger').item.json.message.message_id }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        704,
        -256
      ],
      "id": "fdd36d53-1abf-409f-9c40-5d31db88f639",
      "name": "Send a text message",
      "webhookId": "97cd1b11-e343-4b8b-ba41-b34fe67832ad",
      "retryOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "C8VXOGPwi635q2Wk",
          "name": "Telegram Bot"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "322a59e3-f856-4a15-9c6c-ac9f82e4752e",
              "leftValue": "={{ $json.output.need_approval }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "31aaaad9-ca30-42a3-bc46-a1c5e7fc654a",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.chat.first_name }}",
              "rightValue": "Ranit",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "866f5354-12ae-47ef-ab4f-80283c081d74",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.chat.last_name }}",
              "rightValue": "Sarkhel",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        272,
        -352
      ],
      "id": "b53df7d4-cdb1-4864-95c3-09e46bc35d35",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eabd1294-e238-4bc6-af41-4b1d4e1102c6",
              "name": "prompt",
              "value": "={{ $json.data.approved }}",
              "type": "string"
            },
            {
              "id": "719a4acd-aa2d-4d8d-b5ac-487612db63c2",
              "name": "sessionId",
              "value": "={{ $('Generate sessionID').item.json.sessionId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        -560
      ],
      "id": "455880be-e76e-4867-8285-e090ab068527",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5249a7f0-79d3-44c9-ab66-3a104f555b1a",
              "name": "prompt",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "b0715812-4527-40a9-aa7e-2786a4b73567",
              "name": "sessionId",
              "value": "=session_1235715",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -272,
        -336
      ],
      "id": "44728aa8-2f47-4ad0-9b75-11f88bc737d0",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "message": "={{ $json.output.message }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        -400
      ],
      "id": "09777fc7-75e4-4886-8157-a3d7110f0fdc",
      "name": "Send approval message",
      "webhookId": "4d110713-6335-4b7b-8e25-ea9fc6d6da51",
      "retryOnFail": true,
      "waitBetweenTries": 100,
      "credentials": {
        "telegramApi": {
          "id": "C8VXOGPwi635q2Wk",
          "name": "Telegram Bot"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro-preview-tts",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -208,
        -144
      ],
      "id": "951f98b1-96ea-4c56-853b-f6be0c390089",
      "name": "Fallback Brain",
      "credentials": {
        "googlePalmApi": {
          "id": "Qg7awO5PbhgokA2u",
          "name": "fallback model"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e6032b74-bea6-43ea-a849-3f5dff8b881e",
              "leftValue": "={{ $json.message.chat.type }}",
              "rightValue": "group",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "f51f65e8-eb7e-4a7c-b2fb-dc078dfb5983",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "@TorDadurBichi_bot",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -448,
        -208
      ],
      "id": "16ab26f7-7fe7-478a-a86f-a21bcf83710d",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e6032b74-bea6-43ea-a849-3f5dff8b881e",
              "leftValue": "={{ $json.message.from.id }}",
              "rightValue": 1931776955,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "373a9d4c-bd69-4b3d-9903-2acb26c6c158",
              "leftValue": "={{ $json.message.chat.type }}",
              "rightValue": "private",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -448,
        -400
      ],
      "id": "f579d94f-a2da-4d11-8b0c-fdb71581a700",
      "name": "If2"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  // update .output.message if present\n  if (item.json && item.json.output && item.json.output.message) {\n    item.json.output.message = item.json.output.message.replace(/[`*_]/g, '');\n  }\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        -192
      ],
      "id": "7dd8003e-6720-4716-a9be-75cb8072c0f2",
      "name": "Format Output"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -336,
        -112
      ],
      "id": "c6eb901d-da8f-4be7-acf0-91dfb745e46b",
      "name": "Primary Brain",
      "credentials": {
        "googlePalmApi": {
          "id": "yOdl5TYIitX10xic",
          "name": "Primary model"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "U6lMTIQLoyuFuPRv",
          "mode": "list",
          "cachedResultUrl": "/workflow/U6lMTIQLoyuFuPRv",
          "cachedResultName": "Oracle Server Access"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "command": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('command', ``, 'string') }}"
          },
          "matchingColumns": [
            "command"
          ],
          "schema": [
            {
              "id": "command",
              "displayName": "command",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        48,
        -96
      ],
      "id": "554bebc1-091a-427e-99e0-a6397becd99c",
      "name": "Oracle Server"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        176,
        -128
      ],
      "id": "be793e0d-218a-47d5-b0d5-740b105a056e",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {
          "systemMessage": "=You are an operations assistant running inside an automated workflow.\n\nYour role is to interpret user requests and use available tools when needed.\n\nRules:\n\n1. Use tools when a request requires external data, system state, or execution.\n2. Do not invent results.\n3. If no suitable tool exists, say so clearly.\n4. Keep responses concise and factual.\n5. Do not include markdown formatting.\n6. Do not include code blocks unless explicitly requested.\n7. Do not output JSON unless asked.\n8. Do not explain internal reasoning.\n\nTool Usage:\n\n- Prefer tools over assumptions.\n- Wait for tool results before answering.\n- If a tool fails, report the error.\n\nBehavior:\n\n- If the request is ambiguous, ask one clarification question.\n- If approval is required, present the exact action and wait.\n\nYou are not allowed to roleplay or fabricate data.\nAccuracy and correctness are the priority.\n\nWhen responding, use this format:\n\nResponse:\n<your answer here>\n\nDo not add anything else.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -96,
        -352
      ],
      "id": "09d21dc4-f41a-45a8-b6a0-2048c41066d4",
      "name": "Manager Agent",
      "retryOnFail": false,
      "waitBetweenTries": 100
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "Manager Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Send approval message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Manager Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Manager Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send approval message": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback Brain": {
      "ai_languageModel": [
        [
          {
            "node": "Manager Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Primary Brain": {
      "ai_languageModel": [
        [
          {
            "node": "Manager Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Oracle Server": {
      "ai_tool": [
        [
          {
            "node": "Manager Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "ai_tool": [
        [
          {
            "node": "Manager Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Manager Agent": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a2b5c8ab06fa554533c54e6d7404fd79a79c73e31a6cef240d61cec252a9945d"
  }
}
